<div class="daily-wf" *ngIf="weatherPoint?.daily">
  <mat-accordion class="daily-headers-align">
    <mat-expansion-panel *ngFor="let day of weatherPoint?.daily">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="margin-t">{{day.dtLocal | date: 'EEE, LLL dd' : undefined: 'en-En'}}</span>
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngFor="let weather of day?.weathers; let i = index">
            <span *ngIf="i === 0">{{weather?.description}}</span>
            <span *ngIf="i === 0">{{day.temp?.max | number: '1.0-0'}} / {{day.temp?.min | number: '1.0-0'}}&#176;C <img src="https://openweathermap.org/img/wn/{{weather?.icon}}@2x.png" class="img-size" alt="{{weather?.icon}}"></span>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>
  </mat-accordion>
</div>
