<div class="daily-wf" *ngIf="weatherPoint?.daily">
  <mat-accordion class="daily-headers-align">
    <mat-expansion-panel *ngFor="let day of weatherPoint?.daily">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="margin-t txt-nowrap">{{day.dtLocal | date: 'EEE, LLL dd' : undefined: 'en-En'}}</span>
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngFor="let weather of day?.weathers; let i = index">
            <span class="txt-nowrap" *ngIf="i === 0">{{weather?.description}}</span>
            <span class="txt-nowrap" *ngIf="i === 0">{{day.temp?.max | number: '1.0-0'}} / {{day.temp?.min | number: '1.0-0'}}&#176;C <img src="https://openweathermap.org/img/wn/{{weather?.icon}}@2x.png" class="img-size" alt="{{weather?.icon}}"></span>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="daily-wf-detail">
        <div class="detail-item">
          <div class="item txt-nowrap bg-title">
            Sunrise & Moon
          </div>
          <div class="item txt-nowrap bg-item">
            Sunrise
          </div>
          <div class="item txt-nowrap bg-item">
            Sunset
          </div>
          <div class="item txt-nowrap bg-item">
            Moonrise
          </div>
          <div class="item txt-nowrap bg-item">
            Moonset
          </div>
          <div class="item txt-nowrap bg-item">
            Moon phase
          </div>
        </div>
        <div class="detail-item">
          <div class="item">
            &nbsp;
          </div>
          <div class="item">
            {{day.sunriseLocal ? (day.sunriseLocal | slice: 11 : 16) : '--:--'}}
          </div>
          <div class="item">
            {{day.sunsetLocal ? (day.sunsetLocal | slice: 11 : 16) : '--:--'}}
          </div>
          <div class="item">
            {{day.moonriseLocal ? (day.moonriseLocal | slice: 11 : 16) : '--:--'}}
          </div>
          <div class="item">
            {{day.moonsetLocal ? (day.moonsetLocal | slice: 11 : 16) : '--:--'}}
          </div>
          <div class="item">
            {{day.moonPhase ? (day.moonPhase * 100 | number: '1.0-1') : '--%'}}%
          </div>
        </div>
        <div class="detail-item">
          <div class="item txt-nowrap bg-title">
            Temperature
          </div>
          <div class="item txt-nowrap bg-item">
            Day
          </div>
          <div class="item txt-nowrap bg-item">
            Min
          </div>
          <div class="item txt-nowrap bg-item">
            Max
          </div>
          <div class="item txt-nowrap bg-item">
            Night
          </div>
          <div class="item txt-nowrap bg-item">
            Evening
          </div>
          <div class="item txt-nowrap bg-item">
            Morning
          </div>
        </div>
        <div class="detail-item">
          <div class="item">
            &nbsp;
          </div>
          <div class="item">
            {{day.temp?.day ? (day.temp?.day | number: '1.0-0') : '--'}}&#176;C
          </div>
          <div class="item">
            {{day.temp?.min ? (day.temp?.min | number: '1.0-0') : '--'}}&#176;C
          </div>
          <div class="item">
            {{day.temp?.max ? (day.temp?.max | number: '1.0-0') : '--'}}&#176;C
          </div>
          <div class="item">
            {{day.temp?.night ? (day.temp?.night | number: '1.0-0') : '--'}}&#176;C
          </div>
          <div class="item">
            {{day.temp?.eve ? (day.temp?.eve | number: '1.0-0') : '--'}}&#176;C
          </div>
          <div class="item">
            {{day.temp?.morn ? (day.temp?.morn | number: '1.0-0') : '--'}}&#176;C
          </div>
        </div>
        <div class="detail-item">
          <div class="item txt-nowrap bg-title">
            Feels like
          </div>
          <div class="item txt-nowrap bg-item">
            Day
          </div>
          <div class="item txt-nowrap bg-item">
            Night
          </div>
          <div class="item txt-nowrap bg-item">
            Evening
          </div>
          <div class="item txt-nowrap bg-item">
            Morning
          </div>
        </div>
        <div class="detail-item">
          <div class="item">
            &nbsp;
          </div>
          <div class="item">
            {{day.feelsLike?.day ? (day.feelsLike?.day | number: '1.0-0') : '--'}}&#176;C
          </div>
          <div class="item">
            {{day.feelsLike?.night ? (day.feelsLike?.night | number: '1.0-0') : '--'}}&#176;C
          </div>
          <div class="item">
            {{day.feelsLike?.eve ? (day.feelsLike?.eve | number: '1.0-0') : '--'}}&#176;C
          </div>
          <div class="item">
            {{day.feelsLike?.morn ? (day.feelsLike?.morn | number: '1.0-0') : '--'}}&#176;C
          </div>
        </div>
        <div class="detail-item">
          <div class="item txt-nowrap bg-title">
            Other weather conditions
          </div>
          <div class="item txt-nowrap bg-item">
            Pressure
          </div>
          <div class="item txt-nowrap bg-item">
            Humidity
          </div>
          <div class="item txt-nowrap bg-item">
            Dew point
          </div>
          <div class="item txt-nowrap bg-item">
            Wind
          </div>
          <div class="item txt-nowrap bg-item">
            UV index
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
