.daily-wf {
  margin: 5px 0 5px 0;
  padding: 0;
  color: #444;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  width: 86.5vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.daily-headers-align {}

.daily-headers-align .mat-expansion-panel-header-title,
.daily-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.daily-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.img-size {
  width: 50px;
  vertical-align: middle;
}

.margin-t {
  margin-top: 18px;
}

.daily-wf-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
}

.detail-item {

  flex-grow: 1;
}

.item {
  padding: 1px;
  margin: 1px;
}

.bg-item {
  background-color: #ccc;
}

.bg-title {
  background-color: #000;
  color: #fff;
}

.txt-nowrap {
  white-space: nowrap;
}
