#forecast-container {
  height: calc(100vh - 40px - 80px);
  width: calc(100% - 20px);
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: system-ui;
}

#flex-container-wf {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  border: 0px solid red;
}
