<div id="forecast-container">
  <div id="flex-container-wf">
    <ng-container *ngIf="isSpinnerVisible">
      <mat-spinner class="spinner-margin"></mat-spinner>
    </ng-container>
    <ng-container *ngIf="!isSpinnerVisible">
      <app-location [coordsData]="coordsForecastData"></app-location>
      <app-current-wf [weatherPoint]="weatherPoint"></app-current-wf>
      <app-alerts-wf [weatherPoint]="weatherPoint"></app-alerts-wf>
      <app-minutely-wf [weatherPoint]="weatherPoint"></app-minutely-wf>
      <app-hourly-wf [weatherPoint]="weatherPoint"></app-hourly-wf>
    </ng-container>
  </div>
</div>
