<div id="hourly-charts">
  <mat-tab-group mat-align-tabs="start" animationDuration="500ms">
    <mat-tab label="Temperature (&#176;C)"><app-hourly-temp-chart [weatherForecast]="weatherPoint"></app-hourly-temp-chart></mat-tab>
    <mat-tab label="Pressure (hPa)"><app-hourly-pressure-chart [weatherForecast]="weatherPoint"></app-hourly-pressure-chart></mat-tab>
    <mat-tab label="Humidity (%)"><app-hourly-humidity-chart [weatherForecast]="weatherPoint"></app-hourly-humidity-chart></mat-tab>
    <mat-tab label="Dew Point (&#176;C)">Panel 3</mat-tab>
    <mat-tab label="UV index">Panel 3</mat-tab>
    <mat-tab label="Clouds (%)">Panel 3</mat-tab>
    <mat-tab label="Wind Speed (m/s)">Panel 3</mat-tab>
    <mat-tab label="Precipitation (mm)">Panel 3</mat-tab>
  </mat-tab-group>
</div>
