<div id="location" class="horizontal">
  <div id="location-search-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search"
         viewBox="0 0 16 16">
      <path
        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </div>
  <ng-container *ngIf="isSearchDivVisible; else elseInput">
    <div id="location-search-txt" (click)="showInput()">
      Warszawa, PL
    </div>
  </ng-container>
  <ng-template #elseInput>
    <div id="location-search-input" (focusout)="hideInput()">
      <form>
        <input type="text" id="location-input" autocomplete="off">
      </form>
    </div>
  </ng-template>
  <div>
    <app-geo-location></app-geo-location>
  </div>
</div>
