.layout-wrapper {
  min-height: 100%;
}

.flex-wrapper {
  width: 90%;
  padding: 10px;
}

.footer {
  background-color: rgb(65, 83, 175);
  color: #fff;
  width: 90%;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 8px 8px;
}
